<%- include('_header.html') %>
  <h1>Gallery</h1>
  <% for(let l in iList ){ %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= iList[l] %></h5>
      </div>
    </div>
    <a target="_blank" href="<%= iList[l] %>">
      <img src="../<%= iList[l] %>" class="card-img-top" alt="<%= l %>" width="80" height="80">
    </a>
    <% } %>
        <p>Hello <%= username %>
        </p>
        <a href="logout">logout</a>
            <a href="registyr">registry</a>
            <a href="upload">uploadimage</a>
            <a href="dregistyr">премахване на регистрацията</a>
            <%- include('_footer.html') %>