<%- include('_header.html') %>
  <script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
  <form action="/loginregister2">
    <input class="form-control" placeholder="username" name="username" type="text"><br>
    <input type="password" placeholder="password" id="myInput" class="form-control" name="password"><br>
    <input type="checkbox" onclick="myFunction()">Show Password<br>
    <input type="submit" class="btn btn-primary "><br>
    <div>
      <%= yorn %>
    </div>
  </form>
  <a href="/registyr">регистрация</a>
  <%- include('_footer.html') %>